.innerRegContainer{
    height: auto;
    width: 40%;
    background-color: rgba(255,255,255, 1);
    border-radius: 25px;
    margin: 10% auto;
    padding: 5%;
    padding-bottom: 10%;
    position: relative;
    text-align: left;
}

.innerRegContainer button {
    float: right;
}

.innerRegContainer h2 {
    text-align: center;
}