.landing {
    background-image: url(../../resources/img/dog1.jpg);
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: cover;
    background-size: contain;
    background-color: black;
    position: relative;
    min-height: 100%;
    display: block;
}

.about {
    background: darkblue;
    height: 100%;
    width: 100%;
}