/* Float Elements
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.figure{ margin:0;}

img{ max-width:100%;}

a, a:hover, a:active{ outline:0 !important}

/* Primary Styles
---------------------------------*/
body {
    background:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    font-weight:normal;
    color:#888888;
    margin:0;
}
h2{
    font-size:34px;
    color:#222222;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    letter-spacing: -1px;
    margin:0 0 15px 0;
    text-align:center;
    text-transform:uppercase;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#222222;
    font-size:16px;
    margin:0 0 5px 0;
    text-transform:uppercase;
    font-weight:400;
}
h6{
    font-size:16px;
    color:#888888;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    text-align:center;
    margin:0 0 60px 0;
}
p{
    line-height:24px;
    margin:0;
}

/* Header Styles
---------------------------------*/

.header{
    text-align:center;
    background: dodgerblue;
    padding:280px 0;
    min-height: 100vh;
}
.logo{
    width:130px;
    margin:0 auto 35px;
}
.header h1{
    font-family: 'Montserrat',sans-serif;
    font-size:50px;
    font-weight:400;
    letter-spacing: -1px;
    margin:0 0 22px 0 ;
    color:#fff;
}

.we-create{
    padding:0;
    margin:35px 0 55px;
}
.wp-pic{
    margin-bottom:20px;
}
.we-create li{
    display:inline-block;
    font-family: 'Montserrat',sans-serif;
    font-size:14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    margin:0 5px 0 0;
    padding:0 0 0 15px;
}
.we-create li:first-child{
    background:none;
}

.start-button {
    padding-left: 0;
}

.start-button li a{
    color: #fff;
}

.link{
    padding:15px 35px;
    background: coral;
    color:#fff !important;
    font-size:16px;
    font-weight:400;
    font-family: 'Montserrat', sans-serif;
    display:inline-block;
    border-radius:25px;
    text-transform:uppercase;
    line-height:25px;
    margin-bottom:20px;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}
.link:hover {
    text-decoration:none;
    color:coral !important;
    background:#fff;
}

.link:active, .link:focus {
    background: coral;
    text-decoration:none;
    color:#fff !important;
}

.loginlink{
    padding:15px 35px;
    background-color: #0066ff;
    color:#fff !important;
    font-size:16px;
    font-weight:400;
    font-family: 'Montserrat', sans-serif;
    display:inline-block;
    border: 2px solid white;
    border-radius:25px;
    text-transform:uppercase;
    line-height:25px;
    margin-bottom:20px;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    position: absolute;
    top: 20px;
    right: 20px;
}
.loginlink:hover {
    text-decoration:none;
    border-color: coral;
    background-color: #0066ff;
    color:#fff !important;
    background-position-x: center;
    background-position-y: -42px;
    background-size: cover;
}

.loginlink:active, .loginlink:focus {
    background: coral;
    text-decoration:none;
    color:#fff !important;
}

.main-section{
    padding:90px 0 110px;
    min-height: 100vh;
}


/* Services
---------------------------------*/

.service-list{
    padding:0 0 0 0;
    font-size:14px;
    margin-bottom:40px;
}
.service-list-col1{
    float:left;
    width:60px;
}
.service-list-col1 i{
    font-style:normal;
    font-size:38px;
    display:block;
    color:#222;
    font-family: 'FontAwesome', sans-serif;
    line-height:38px;
}
.service-list-col2{
    overflow:hidden;
}
.main-section.alabaster{
    background:#fafafa;
}

/* Animation Timers
---------------------------------*/
.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}
.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}
.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}
.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}
.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}
.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}