.accContainer {
    height: 100%;
    width: 100%;
    background: dodgerblue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    position: relative;
    display: block;
}

.innerAccContainer{
    height: auto;
    width: 20%;
    background-color: rgba(255,255,255, 1);
    margin: auto;
    position: absolute;
    top: 3%;
    left: 3%;
    text-align: left;
    padding: 2%;
}

.innerBodyContainer{
    height: 94%;
    width: 72%;
    background-color: rgba(255,255,255, 1);
    margin: auto;
    position: absolute;
    top: 3%;
    right: 3%;
    text-align: left;
    padding: 2%;
}

.innerNavContainer {
    height: 72%;
    width: 20%;
    background-color: rgba(255,255,255, 1);
    margin: auto;
    position: absolute;
    bottom: 3%;
    left: 3%;
    text-align: left;
}

.innerBodyContainer button {
    float: right;
}

.innerBodyContainer h2 {
    text-align: center;
}

.navComponent {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    min-height: 10%;
    border-bottom: grey 1px solid;
    vertical-align: center;
    line-height: 10%;
}

.navComponent p {
    color: coral;
    margin:0;
}

.navComponent:hover {
    background: coral;
}

.navComponent:focus {
    background: coral;
}

.navComponent:hover p {
    text-decoration: none;
    color: white;
}

.navComponent:focus p {
    text-decoration: none;
    color: white;
}

.petFormWrapper {
    padding: 5%;
}

.link{
    padding:15px 35px;
    background: coral;
    color:#fff !important;
    font-size:16px;
    font-weight:400;
    font-family: 'Montserrat', sans-serif;
    display:inline-block;
    border-radius:25px;
    text-transform:uppercase;
    line-height:25px;
    margin-bottom:20px;
    cursor: pointer;
}
.link:hover {
    text-decoration:none;
    color:coral !important;
    background:#fff;
    border: coral 1px solid;
}

.link:active, .link:focus {
    background: coral;
    text-decoration:none;
    color:#fff !important;
}

.petLink {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.addPetWrapper{
    align-content: center;
    text-align: center;
}
